.header{
	width:100%;
	height: 100px;
}
.common_index{
	width: 94%;
	padding: 0 3%;
}
.header-logo a img{width:100%;}
.menu-li{width:11.11%;margin-left:0;}
.banner_n{width:100%;}
.header-top{
	line-height:50px;
	height: 50px;
	background: rgba(225,225,225,0);
	z-index: 10;
	overflow: hidden;
}
.footer{width:100%;}
.news1{
	width: 33%;
}
.news2{
	margin-left:5%;
	width:30%;
}
.common-title{width:100%;}
.news3{
	margin-left:5%;
	width:25%;
	padding:10px 1% 20px 1%;
}
.news2 p font{font-size:13px;}
.action_img table{margin:auto;}
.links a{color:#111111;}
.action_img{
	width:100%;
	padding:0;
	margin:auto;
	overflow: hidden;
}
