@charset "utf-8";
/* 全局样式
-------------------------------------------------------------- */
html,body,a,ul,img{ padding:0; margin:0; list-style:none; border:none; font-size:14px; font-family:"微软雅黑","Arial"!important; color:#666;}
p{line-height:25px;font-family:"微软雅黑","Arial"!important;}
img{ border:none; vertical-align:middle;}
td{ vertical-align:center; font-size:13px;}
body{ background-color:#FFFFFF; }
*{margin:0;padding:0;}
/*body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,img{*/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,th,td,img{
	border:medium none;
	margin:0;
	padding:0;
	font-family:"微软雅黑","Arial"!important;
}
body,button,input,select,textarea{outline:none;}
ul,ol,li{list-style:none;}
table{margin:auto;}
html,body{height:auto;margin:0 auto;}
/* 链接样式 */
a {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
/* 层浮动 */
.left { float: left; }
.right{ float: right; }
.center { margin: 0 auto; }
/* 文字对齐 */
.tleft { text-align:left; }
.tright { text-align:right; }
.tcenter {text-align:center; }
/* 全局 */
.clear { clear:both; font-size:1px; line-height:0px; height:0px;}
.w1200m { width:1200px; margin:0 auto; }
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
/* 头部 */
.banner_n{position:relative;width:1903px;}
.banner img{width:100%;height:auto;}
.pics_wrap{position:relative;}
.header{position:relative;width:1903px;}
.header-top{color:#111111;line-height:35px;position:absolute;}
.header-top span{float:left;color: #111111;}
.header-logo{
	width:100%;
	overflow: hidden;
}
.header-logo a img{
	max-width:1903px;
	height:100px;
}
.common_index{width:1783px;padding:0 60px;}

/* 一级导航 */
.header-menu{height:46px;background:url(../images/menu_bg.jpg);position: relative;top:0;z-index:9;
	box-shadow: 0px 2px 5px rgba(191,191,191, 0.75);
	-moz-box-shadow: 0px 2px 5px rgba(191,191,191, 0.75);
	-webkit-box-shadow: 0px 2px 5px rgba(191,191,191, 0.75);}
.menu-li{float:left;width:175px;height:46px;transition: all 0.8s;margin-left:26px;}
.menu-li:nth-child(1){margin-left:0;}
.menu-a{font-size:16px;color:#fff;line-height:46px;width:100%;text-align:center;display:inline-block;transition: all 0.8s;}
.menu-a:hover{background:#0164de;}
/* 二级导航 */
.menu-sub{display:none;}
.menu .menu-li:hover .hid2{display:block;-webkit-animation:aa 1s;-moz-animation:aa 1s;}
/* .hid2{width:120px;overflow: hidden;} */
.hid2 a{font-size:13px;color:#fff;line-height:30px;text-align:center;display:block;margin-bottom:1px;background:#999;transition: all 0.8s;}
.hid2 a:hover{background:#258931;}
@-webkit-keyframes aa{
	from{-webkit-transform:rotateY(0deg);}
	to{-webkit-transform:rotateY(360deg);}
}
@-moz-keyframes aa{
	from{-moz-transform:rotateY(0deg);}
	to{-moz-transform:rotateY(360deg);}
}
.menu-sub-li{position:relative;}
.menu-sub-li ul{position:absolute;top:0;width:100px;left:175px;text-align:center;display:none;}
.menu-sub-li:hover ul{display:block;}
.menu-sub-li:hover ul li a{background:#258931!important;}
.menu-li:nth-child(3) .menu-sub-li ul{display:none;}
/* news */
.news1{width:560px;height:265px;overflow:hidden;}
.news1 img{width:100%;height:100%;transition: all 0.8s;}
.news1:hover img{transform: scale(1.2);}
.common-title{width:474px;height:37px;transition: all 0.8s;overflow:hidden;margin-bottom:10px;}
.common-title:nth-child(1){background:url(../images/t1_bg.jpg);}
.common-title:nth-child(2){background:url(../images/t2_bg.jpg);}
.common-title span{float:left;font-size:16px;color:#fff;padding-left: 40px;line-height:37px;}
.common-title a{float:right;font-size:16px;color:#0150b3;line-height:37px;transition: all 0.8s;}
.common-title a:hover{color:#258931;}
.news2{margin-left:24px;width:474px;}
.news2 p{font-size:15px;color:#494949;line-height:38px;transition: all 0.8s;}
.news2 p font{float:right;}
.news2 p:hover{color:#0150b3;}
.news3{margin-left:24px;width:177px;padding:10px 13px 20px 13px;background: #93b4df;}
.kstd{width:100px;padding-left:26px;height:25px;line-height:25px;font-size:16px;color:#0753b5;font-weight:bold;background:url(../images/t4_bg.png) no-repeat left center;}
.kstd_c a{margin-top:14px;font-size:14px;color:#333333;width:81px;line-height:26px;border:1px solid #fff;background:#eeeeee;text-align:center;transition: all 0.8s;}
.kstd_c a:hover{color:#0150b3;}

.zyxz{margin-top:17px;width:100px;padding-left:26px;height:25px;line-height:25px;font-size:16px;color:#0753b5;font-weight:bold;background:url(../images/t3_bg.png) no-repeat left center;}
.zyxz_c a{margin-top:14px;font-size:14px;color:#333333;width:81px;line-height:26px;border:1px solid #fff;background:#eeeeee;text-align:center;transition: all 0.8s;}
.zyxz_c a:hover{color:#0150b3;}


/* links */
.links{padding:10px 0;overflow:hidden;font-size:14px;color:#fff;line-height:34px;border-bottom:1px solid #d5d5d5;}
.links a{display:inline-block;font-size:14px;color:#fff;line-height:34px;margin:0 5px;transition: all 0.8s;}
.links a:hover{color:#0150b3;}
/* footer */
.footer{width:1903px;background:url(../images/footer_bg.jpg) no-repeat;}
.powerby{text-align:center;padding:10px 0;line-height:30px;}
.powerby p{display:inline-block;margin:0 5px;font-size:14px;color:#111111;}
.powerby p a{font-size:14px;color:#111111;line-height:30px;transition: all 0.8s;}
.powerby p a:hover{color:#0150b3;}


.position{padding: 10px 0;border-bottom: 1px solid silver;line-height:20px;}
.position a{color:#0c6ed7;transition: all 0.8s;line-height:20px;}
.position a:hover{color:#258931;}
.left_menu{padding: 10px;width: 178px;border: solid 1px silver;min-height:341px;}
.common_nr1{margin-left: 20px;border: solid 1px silver;padding: 10px;width: 958px;min-height:341px;}
.right_wz{border: solid 1px silver;padding: 10px;width: 295px;min-height:341px;}
.common_nr2{width:850px;padding:10px;border:1px solid silver;}
.nr-news{padding: 14px 0;border-bottom: 1px solid #eeeeee;}
.nr-news p{font-size: 16px;color: #111111;line-height: 30px;height: 30px;overflow: hidden;transition: all 0.8s;}
.nr-news font{font-size: 13px;color: #999999;line-height: 20px;display: block;}
.nr-news p:hover{color:#0c6ed7;}
.rdwz{line-height:20px;padding:10px 0;border-bottom: solid 1px silver;color:#0c6ed7;}
.lm_name{font-size: 20px;padding: 6px 0;color: #0c6ed7;border-bottom: 2px solid #0c6ed7;}
.er_menu ul li a{font-size:16px;line-height:30px;border-bottom:1px solid silver;color:#258931;transition: all 0.8s;display:block;margin-top:10px;}
.er_menu ul ul li a{font-size:14px;line-height:30px;border-bottom:1px solid silver;color:#000;transition: all 0.8s;text-indent:2em;margin-top:0px;}
.er_menu ul li a:hover{color:#0c6ed7;}
.news_c{margin-top:20px;}
.news_c h1,h2,h3,h4,h5,h6{font-size:18pt;font-weight:normal;}
.szdw_c{margin-top:20px;}
.szdw_c hr{height:1px;background:silver;margin-top: 10px;}
.szdw_c #vsb_content{padding:0 30px 10px;}
.szdw_c #vsb_content p{line-height:34px;}
.szdw_c #vsb_content p strong{display:block;font-size:18px;color:#0c6ed7;line-height:50px;text-indent:2em;margin:18px 0;background:#f6f6f6;}